.signup-container .group-menu {
  display: none;
} 

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

header {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  height: 80px; 
  line-height: 80px; 
  margin-bottom: 60px;
}

footer {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 100px;
}

.signup-title {
  font-size: 2rem; 
  margin-bottom: 20px;
  margin-top: 40px;
}

.signup-form label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.signup-form input {
  padding: 8px;
  margin-top: 5px;
  width: 200px;
  border: 1px solid #ccc; /* 회색 테두리 */
  border-radius: 5px; 
}

.signup-form input:focus {
  outline: none;
  border-color: #888; /* 포커스 시 테두리 색상 */
}

.signup-form button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #ffd401;
  color: white;
  border: none;
  border-radius: 5px;
}

.signup-form button:hover {
  background-color: #e0b700;
}

.signup-error {
  color: red;
  margin-bottom: 10px;
  margin-top: 20px;
}

.signup-success {
  color: green;
  margin-bottom: 10px;
}
