.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body .card-img {
  width: 50%;
  border-radius: 8px;
} 
.card-body .card-img-desc {
  text-align: center;
} 

.card-body .card-sub-title {
  font-weight: 700;
} 
.card-body audio {
  width: 100%;
  display: block;
} 
.card-body .card-script {
  overflow: auto;
} 

.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}